.error__message{
   position: fixed;
   top: 20px;
   left: 50%;
   z-index: 10;
   transform: translateX(-50%);
   background: var(--blue);
   padding: 12px 24px;
   border-radius: 25px;
   text-align: center;
   min-width: 280px;
}

// classes for react-transition-group
.show-error-enter {
   filter: opacity(0);
   top: 0px;
}

.show-error-enter-active {
   filter: opacity(1);
   top: 20px;
   transition: top .2s ease,
               filter .2s ease;
}

.show-error-exit {
   filter: opacity(1);
   top: 20px;
}

.show-error-exit-active {
   filter: opacity(0);
   transition: top .2s ease,
               filter .2s ease;
   top: 0px;
}